body{
    background-color: white;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
/*.welcome
{
    color: white;
    text-align: center;
}
#contacts
{
    text-align: center;
    color: aqua;
    padding-bottom: 0%;
}
#pro
{
    color: gold;
    text-align: center;
}
#profile
{
    height: 500px;
    width: 500px;
}
@media screen and (min-width: 1920px) {
    body {
      background-color: lightgreen;
  }
 
#projects
{
    color: gold;
}
body */
 .nav-content
  {
   /* color: gold;
    padding-top: 50px;
    padding-right: 150px;
    padding-left: 10px;
    text-decoration: none;*/
    position: right;
    padding: 12px;
    background-color: blue ;
    width: 100%;
    color: black;

}
a 
{
    padding: 34px;
}